body{
    background: #a47e1a;
    margin: 1%;
    padding: 2%;
}
*{
    font-size: 15px;
}
h2{
    font-size: 18px;
}
a{
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #090000;
    background: #fae6b3;
    color: black;
}