body{
    background: #a47e1a;
    margin: 0;
}
*{
    font-size: 15px;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.form-elements{
    display:flex;
    flex-direction: row;
}
div{
    margin: 4%;
    padding: 1%;
}
h2{
    font-size: 18px;
}
input{
    background:#fae6b3 ;
}
.button{
    background: #998961;
}